<div class="content-container">

    <div class="button-panel"
        *ngIf="!selected">
        <button mat-raised-button
            type="button"
            (click)="getAppointments()"
            matTooltip="Refresh the appointments">Refresh</button>
    </div>
    <div class="detail-container">
        <app-appointment-detail [appointment]="selected"
            (unselect)="close()"
            (add)="add($event)"></app-appointment-detail>
    </div>
    <div class="list-container">
        <div *ngIf="appointments">

            <app-appointment-list [appointments]="appointments"
                [selectedAppointment]="selected"
                (selected)="select($event)"
                (deleted)="delete($event)"></app-appointment-list>
        </div>
    </div>
</div>