<div class="content-container">
    <div class="button-panel" *ngIf="!selected">
        <button mat-raised-button type="button" (click)="getAppointments()" matTooltip="Refresh the appointments">Refresh</button>
        <button mat-raised-button color="primary" type="button" (click)="enableAddMode()" *ngIf="!selected" matTooltip="Add a appointment">Add</button>
    </div>
    <div *ngIf="selected" class="detail-container">
        <app-appointment-detail [appointment]="selected" (unselect)="close()" (add)="add($event)" (update)="update($event)"></app-appointment-detail>
    </div>
    <div *ngIf="!selected" class="list-container">
        <div *ngIf="appointments">
            <mat-spinner *ngIf="loading;else appointmentList" mode="indeterminate" color="accent"></mat-spinner>
            <ng-template #appointmentList>
                <app-appointment-list [appointments]="appointments" [selectedAppointment]="selected" (selected)="select($event)"></app-appointment-list>
            </ng-template>
        </div>
    </div>
</div>