<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>
      <a class="ng-title-icon" href="http://angular.io" target="_blank">
        <i></i>
      </a>
      <span class="title">GAP</span>
      <span></span>
      <a mat-button [routerLink]="['/customers']" routerLinkActive="router-link-active">
        <span>Customers</span>
      </a>      
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="row-commands">
    <div class="footer-container">
      <span class="spacer">GAP Clinic</span>
      
    </div>
  </mat-toolbar-row>
</mat-toolbar>
